shadow.log
/etc/autoid.pd
/etc/feeds.db
/etc/autojoin.db
/etc/shadow.conf
.AppleDouble
.DS_Store
/doc/.AppleDobule
/etc/.AppleDouble
/lib/.AppleDouble
/lib/Shadow/.AppleDouble
/modules/.AppleDouble
log
