shadow.log
/etc/autoid.pd
/etc/feeds.db
/etc/autojoin.db
/etc/shadow.conf
/etc/aliases.db
/etc/*.db
/etc/quote.log
/etc/quote.txt
.AppleDouble
.DS_Store
/doc/.AppleDobule
/etc/.AppleDouble
/lib/.AppleDouble
/lib/Shadow/.AppleDouble
/modules/.AppleDouble
/modules/Pepper
log
/modules/Test1.pm
.vstags
Dockerfile
/dcc-downloads
