# Shadow Configuration File
# Written by Aaron Blakely


@Shadow

[IRC]
bot.host       = [irc.server.com:6667]
bot.useSSL     = no
bot.nick       = "Shadow"
bot.name       = "shadow"
bot.channels   = [#chan1,#chan2,#etc]


# bot.cmdchan - Bot logging/control channel
bot.cmdchan = "#botcmd"

# bot.cmdchanlogtype - Defines which types of logs will be sent to log channel
# Types:
#   All      - All log messages (do not use with other types)
#   Error    - Error messages
#   System   - IRC/Core module related log messages
#   Modules  - Module activity such as loading, reloading, and unloading log messages
#   WebAdmin - HTTP/WebAdmin activity log messages
#
# Modules may add their own log types.

bot.cmdchanlogtype = [System,Error]

# Oper mode (used with modules like Oper, ChanServ)
# bot.oper = [oper name,oper pass]

# bot.cmdprefix - Defines which character is used to active channel commands
bot.cmdprefix = "."

[Bot]
system.daemonize    = no
system.modules      = [
    ChanOP,
    AutoID
]

[Admin]
# Comma separated list of hostnames (wildcards are accepted)
bot.admins = [*!*@example.org,*!*@netadmin.bbsn.ca]

@Modules
# Modules Section - Define settings for configuring modules.

[Pepper]
dcc.port = "1024" 

# Not sure if these matter but some scripts may check against them.
eggdrop.numversion = "10120000"
eggdrop.version = "1.12.0-pepper"

[WebAdmin]

# httpd.addr - Defines which IP the WebAdmin HTTP server will listen on. 
httpd.addr = "0.0.0.0"

# httpd.port - Defines which port the WebAdmin HTTP server will listen on.
httpd.port = "8888"

# httpd.publicURL - Defines the URL that the webadmin is located at.
httpd.publicURL = "http://10.0.0.104:8888/"

# sys.checkupdate - Automatically check for updates with git fetch
sys.checkupdate = yes

[OpenAI]

# api.key - OpenAI API key
api.key = "API KEY"

# api.maxtokens - Maximum number of tokens to generate
api.maxtokens = "400"

# api.temperature - Temperature of generated text
api.temperature = "0.8"
