# Shadow Configuration File
# Written by Aaron Blakely


@Shadow

[IRC]
bot.host	   = server.host:port
bot.nick	   = Shadow
bot.name	   = shadow
bot.channels   = [#chan1,#chan2,#etc]

# bot.cmdchan - Bot logging/control channel
bot.cmdchan  = #botcmd


[Bot]
system.daemonize	= no
system.modules      = [ChanOP,AutoID]

[Admin]
# Comma separated list of hostnames (wildcards are accepted)
bot.admins = [*!*@example.org,*!*@netadmin.bbsn.ca]
